In [57]:
import numpy as np
import pandas as pd
from math import pow

In [58]:
df = pd.read_csv('data/athlete_events.csv', sep=',')

In [59]:
# df = df[:500]
# df = df.sort_values(by='Year')
# df

In [60]:
# copy = pd.DataFrame({
#     'ID': df['ID'],
#     'Name': df['Name'],
#     'Sex': df['Sex'],
#     'Age': df['Age'],
#     'He'
# })

copy = df[:]
copy['Year'] = copy['Year'].apply(lambda x : x+1000)
# copy

In [61]:
df = df.append(copy,ignore_index=True)
# df

In [62]:
# PARTICIPANTS TABLE PREPARE
participants = df.loc[:, 'Name':'Team'] # взять часть столбцов из таблицы (срез по столбцам)
res = participants.drop_duplicates(subset='Name', keep='last') # удалить дубликаты по столбцу 
res = res.reset_index(drop=True) # переиндексируем
# res

# res[res['Name'] == 'Gunnar Nielsen Aaby'].index

In [63]:
# GAMES TABLE PREPARE
games = df.loc[:, 'Year':'City']
res_games = games.drop_duplicates()

res_games = res_games.reset_index(drop=True)
# res_games
# l = list(res_games['City'])
# print(l)
# val = pd.DataFrame([['3018', 'LETOOOOOOO', 'TROPAREVO'] for i in range(10)], columns=['Year', 'Season', 'City'])
# res_games = res_games.append(val, ignore_index=True)
# print(val)
# print(res_games)
# print(type(res_games))
# print(type(val))
# res_games
# res_games.append(val)
# res_games

In [64]:
# EVENTS TABLE PREPARE
events = df.loc[:, 'Sport':'Event']
events = events.drop_duplicates(subset='Event', keep='last')
events = events.reset_index(drop=True)

list_of_events = events['Event'].values
count_of_participants_in_event = [df[df['Event'] == event]['Name'].count() for event in list_of_events]
events.insert(loc=len(events.columns), column='PCount', value=count_of_participants_in_event)
events = events.reset_index(drop=True)
# events

In [44]:
# PREPARE PARTICIPANT-EVENT RELATION
pe_name = df['Name']
pe_events = df['Event']
# pe = pe_name.append(pe_events, ignore_index=True)
pe = pd.DataFrame({
    'Event': df['Event'],
    'Name': df['Name']
})
pe = pe.drop_duplicates()
pe = pe.reset_index(drop=True)
pe

,Event,Name
0,Basketball Men's Basketball,A Dijiang
1,Judo Men's Extra-Lightweight,A Lamusi
2,Football Men's Football,Gunnar Nielsen Aaby
3,Tug-Of-War Men's Tug-Of-War,Edgar Lindenau Aabye
4,Speed Skating Women's 500 metres,Christine Jacoba Aaftink
5,"Speed Skating Women's 1,000 metres",Christine Jacoba Aaftink
6,Cross Country Skiing Men's 10 kilometres,Per Knut Aaland
7,Cross Country Skiing Men's 50 kilometres,Per Knut Aaland
8,Cross Country Skiing Men's 10/15 kilometres Pu...,Per Knut Aaland
9,Cross Country Skiing Men's 4 x 10 kilometres R...,Per Knut Aaland
10,Cross Country Skiing Men's 30 kilometres,Per Knut Aaland
11,Cross Country Skiing Men's 10 kilometres,John Aalberg
12,Cross Country Skiing Men's 50 kilometres,John Aalberg
13,Cross Country Skiing Men's 10/15 kilometres Pu...,John Aalberg
14,Cross Country Skiing Men's 4 x 10 kilometres R...,John Aalberg
15,Cross Country Skiing Men's 30 kilometres,John Aalberg
16,Athletics Women's 100 metres,"Cornelia ""Cor"" Aalten (-Strannood)"
17,Athletics Women's 4 x 100 metres Relay,"Cornelia ""Cor"" Aalten (-Strannood)"
18,Ice Hockey Men's Ice Hockey,Antti Sami Aalto
19,Swimming Men's 400 metres Freestyle,"Einar Ferdinand ""Einari"" Aalto"
20,Cross Country Skiing Men's 30 kilometres,Jorma Ilmari Aalto
21,Badminton Men's Singles,Jyri Tapani Aalto
22,Sailing Women's Windsurfer,Minna Maarit Aalto
23,Biathlon Women's 7.5 kilometres Sprint,Pirjo Hannele Aalto (Mattila-)
24,Swimming Men's 200 metres Breaststroke,Arvo Ossian Aaltonen
25,Swimming Men's 400 metres Breaststroke,Arvo Ossian Aaltonen
26,Ice Hockey Men's Ice Hockey,Juhamatti Tapio Aaltonen
27,Gymnastics Men's Individual All-Around,Paavo Johannes Aaltonen
28,Gymnastics Men's Team All-Around,Paavo Johannes Aaltonen
29,Gymnastics Men's Floor Exercise,Paavo Johannes Aaltonen
...,...,...
354,"Fencing Men's epee, Individual",Mahmoud Ahmed Abdin
355,"Fencing Men's epee, Team",Mahmoud Ahmed Abdin
356,"Athletics Men's 10,000 metres","Abdihakim ""Abdi"" Abdirahman"
357,Athletics Men's Marathon,"Abdihakim ""Abdi"" Abdirahman"
358,"Wrestling Men's Welterweight, Greco-Roman",Ali Abdo
359,"Wrestling Men's Middleweight, Freestyle",Ali Abdo
360,Swimming Men's 50 metres Freestyle,Hamza Abdo
361,Swimming Women's 100 metres Backstroke,Reema Abdo
362,Swimming Women's 200 metres Backstroke,Reema Abdo
363,Swimming Women's 4 x 100 metres Medley Relay,Reema Abdo
364,Football Men's Football,Ahmed Abdo Mustafa
365,Football Men's Football,Nasrollah Abdollahi
366,Boxing Men's Lightweight,Yhyacinthe Mewoli Abdon
367,Athletics Men's 400 metres,Hassane Abdou
368,"Wrestling Men's Light-Heavyweight, Freestyle",Justin Abdou
369,Football Men's Football,Moustafa Ahmed Ismail Abdou Ali Arfah
370,Modern Pentathlon Men's Individual,Raouf Abdou
371,Modern Pentathlon Men's Individual,Mohamed Abdou El-Souad
372,Modern Pentathlon Men's Team,Mohamed Abdou El-Souad
373,Athletics Men's 200 metres,Brahim Daoud Abdoulaye
374,Volleyball Women's Volleyball,Fawziya Abdoulkarim
375,Basketball Men's Basketball,Alaa El-Din Abdoun
376,Boxing Men's Bantamweight,Ibrahim Abdrabbou
377,Boxing Men's Lightweight,Berik Abdrakhmanov
378,Athletics Women's 200 metres,Maizurah Abdul Rahim
379,Athletics Men's 4 x 400 metres Relay,Mehdi Fahim Abdul Al-Sada
380,Football Men's Football,Bashir Abdullah Abdul Aziz
381,Hockey Men's Hockey,Chairil Anwar Abdul Aziz
382,Table Tennis Women's Singles,Shaimaa Abdul Aziz
383,Table Tennis Women's Doubles,Shaimaa Abdul Aziz

In [49]:

list_of_participants_ids = []
list_of_events_ids = []
list_of_participants = list(res['Name'].values)

for man in list_of_participants:
    list_of_events_of_participant = list(pe[pe['Name'] == man]['Event'].values)
    for ev in list_of_events_of_participant:
        list_of_participants_ids.append(res[res['Name'] == man].index[0])
        list_of_events_ids.append(events[events['Event'] == ev].index[0])


participant_event_relation_table = pd.DataFrame({
    'ParticipantID': list_of_participants_ids,
    'EventID': list_of_events_ids
})

participant_event_relation_table = participant_event_relation_table.sort_values(by='ParticipantID')
participant_event_relation_table = participant_event_relation_table.drop_duplicates()
participant_event_relation_table

     EventID  ParticipantID
0        168              0
1        137              1
2        173              2
3          0              3
4          1              4
5          2              4
9         38              5
8          4              5
10        35              5
6          3              5
7         37              5
11         3              6
12        37              6
13         4              6
14        38              6
15        35              6
16         5              7
17         6              7
18        13              8
19         7              9
20        35             10
21         8             11
22         9             12
23        10             13
24        12             14
25        11             14
26        13             15
34       143             16
32       128             16
31       141             16
..       ...            ...
354      151            253
355      152            253
356      154            254
357      155            254
358      156            255
359      157            255
360      158            256
361      159            257
362      160            257
363      161            257
364      173            258
365      173            259
366      170            260
367      162            261
368      163            262
369      173            263
370      164            264
372      165            265
371      164            265
373      166            266
374      167            267
375      168            268
376      169            269
377      170            270
378      171            271
379      172            272
380      173            273
381      174            274
382      175            275
383      176            275

[384 rows x 2 columns]

In [48]:
# PREPARE EVENT-GAME RELATION
eg_events = df['Event']
eg_game = df['Year']

eg = pd.DataFrame({
    'Event': eg_events,
    'Game': eg_game
})
eg = eg.drop_duplicates()
eg = eg.sort_values(by=['Game'])
eg = eg.reset_index(drop=True)

                                                 Event  Game
189                 Modern Pentathlon Men's Individual  1992
190                       Modern Pentathlon Men's Team  1992
191                         Athletics Men's 800 metres  1992
192                            Football Men's Football  1992
193                            Handball Men's Handball  1992
194                 Athletics Men's 400 metres Hurdles  1992
195                     Fencing Men's Foil, Individual  1992
196                           Athletics Men's Marathon  1992
197          Athletics Men's 3,000 metres Steeplechase  1992
198                                Hockey Men's Hockey  1992
199                        Basketball Men's Basketball  1992
200                           Rowing Men's Coxed Pairs  1992
201                   Alpine Skiing Men's Giant Slalom  1992
202                       Alpine Skiing Men's Downhill  1992
203      Canoeing Men's Canadian Doubles, 1,000 metres  1992
204        Canoeing Men's Canadian Doubles, 500 metres  1992
205                    Sailing Men's Two Person Dinghy  1992
206                        Alpine Skiing Men's Super G  1992
207                               Shooting Mixed Skeet  1992
208  Cross Country Skiing Men's 4 x 10 kilometres R...  1992
209  Cross Country Skiing Men's 10/15 kilometres Pu...  1992
210           Cross Country Skiing Men's 50 kilometres  1992
211            Equestrianism Mixed Jumping, Individual  1992
212                         Alpine Skiing Men's Slalom  1992
213                   Speed Skating Women's 500 metres  1992
214                       Judo Men's Half-Middleweight  1992
215                 Speed Skating Women's 1,000 metres  1992
216           Cross Country Skiing Men's 10 kilometres  1992
217             Wrestling Men's Heavyweight, Freestyle  1992
218                          Fencing Men's Sabre, Team  1992

In [54]:
list_of_games_ids = []
list_of_events_ids = []
list_of_games = list(res_games['Year'].values)

for game in list_of_games:
    list_of_events_in_game = list(eg[eg['Game'] == game]['Event'].values)
    for ev in list_of_events_in_game:
        list_of_games_ids.append(res_games[res_games['Year'] == game].index[0])
        list_of_events_ids.append(events[events['Event'] == ev].index[0])

event_game_relation_table = pd.DataFrame({
    'GameID': list_of_games_ids,
    'EventID': list_of_events_ids
})

event_game_relation_table = event_game_relation_table.sort_values(by='GameID')
event_game_relation_table = event_game_relation_table.drop_duplicates()
event_game_relation_table

["Modern Pentathlon Men's Individual" "Modern Pentathlon Men's Team"
 "Athletics Men's 800 metres" "Football Men's Football"
 "Handball Men's Handball" "Athletics Men's 400 metres Hurdles"
 "Fencing Men's Foil, Individual" "Athletics Men's Marathon"
 "Athletics Men's 3,000 metres Steeplechase" "Hockey Men's Hockey"
 "Basketball Men's Basketball" "Rowing Men's Coxed Pairs"
 "Alpine Skiing Men's Giant Slalom" "Alpine Skiing Men's Downhill"
 "Canoeing Men's Canadian Doubles, 1,000 metres"
 "Canoeing Men's Canadian Doubles, 500 metres"
 "Sailing Men's Two Person Dinghy" "Alpine Skiing Men's Super G"
 'Shooting Mixed Skeet'
 "Cross Country Skiing Men's 4 x 10 kilometres Relay"
 "Cross Country Skiing Men's 10/15 kilometres Pursuit"
 "Cross Country Skiing Men's 50 kilometres"
 'Equestrianism Mixed Jumping, Individual' "Alpine Skiing Men's Slalom"
 "Speed Skating Women's 500 metres" "Judo Men's Half-Middleweight"
 "Speed Skating Women's 1,000 metres"
 "Cross Country Skiing Men's 10 kilometres"
 "Wrestling Men's Heavyweight, Freestyle" "Fencing Men's Sabre, Team"]

     EventID  GameID
0        164       0
74       164       0
75       165       0
76       146       0
77       173       0
78       144       0
79        77       0
80       150       0
81       155       0
82       149       0
83       174       0
84       168       0
85        73       0
86        80       0
87        18       0
88        91       0
89        55       0
90        25       0
91        19       0
92        60       0
93        38       0
94         4       0
95        37       0
96        34       0
97        16       0
98         1       0
99       125       0
100        2       0
103      114       0
101        3       0
..       ...     ...
484      105      31
483       31      31
482       30      31
481       41      31
480       76      31
479       47      31
474       76      31
475       41      31
476       30      31
485       47      31
477       31      31
513      153      34
509      104      34
512      173      34
511      148      34
510      150      34
523      144      35
522      168      35
521       68      35
520       91      35
519      107      35
518       77      35
517       74      35
524       61      35
516      122      35
515      173      35
514       43      35
545       80      38
544       89      38
554      173      40

[555 rows x 2 columns]

In [35]:
# PREPARE GAME-PARICIPANT RELATION
gp_game = df['Year']
gp_name = df['Name']

gp = pd.DataFrame({
    'Game': gp_game,
    'Name': gp_name
})

gp = gp.drop_duplicates()
gp

     Game                                   Name
0    1992                              A Dijiang
1    2012                               A Lamusi
2    1920                    Gunnar Nielsen Aaby
3    1900                   Edgar Lindenau Aabye
4    1988               Christine Jacoba Aaftink
6    1992               Christine Jacoba Aaftink
8    1994               Christine Jacoba Aaftink
10   1992                        Per Knut Aaland
14   1994                        Per Knut Aaland
18   1992                           John Aalberg
22   1994                           John Aalberg
26   1932     Cornelia "Cor" Aalten (-Strannood)
28   2002                       Antti Sami Aalto
29   1952         Einar Ferdinand "Einari" Aalto
30   1980                     Jorma Ilmari Aalto
31   2000                      Jyri Tapani Aalto
32   1996                     Minna Maarit Aalto
33   2000                     Minna Maarit Aalto
34   1994         Pirjo Hannele Aalto (Mattila-)
35   1912                   Arvo Ossian Aaltonen
37   1920                   Arvo Ossian Aaltonen
39   1924                   Arvo Ossian Aaltonen
40   2014               Juhamatti Tapio Aaltonen
41   1948                Paavo Johannes Aaltonen
49   1952                Paavo Johannes Aaltonen
57   2000                   Timo Antero Aaltonen
58   1948                  Win Valdemar Aaltonen
59   1992                     Kjetil Andr Aamodt
63   1994                     Kjetil Andr Aamodt
68   1998                     Kjetil Andr Aamodt
..    ...                                    ...
465  1948                    Mahmoud Ahmed Abdin
466  2000            Abdihakim "Abdi" Abdirahman
467  2004            Abdihakim "Abdi" Abdirahman
468  2008            Abdihakim "Abdi" Abdirahman
469  2012            Abdihakim "Abdi" Abdirahman
470  2000                               Ali Abdo
471  2004                               Ali Abdo
472  2008                               Ali Abdo
473  2008                             Hamza Abdo
474  1984                             Reema Abdo
477  1972                     Ahmed Abdo Mustafa
478  1976                    Nasrollah Abdollahi
479  2012                Yhyacinthe Mewoli Abdon
480  1996                          Hassane Abdou
481  2000                           Justin Abdou
482  1984  Moustafa Ahmed Ismail Abdou Ali Arfah
483  2004                            Raouf Abdou
484  1988                 Mohamed Abdou El-Souad
486  1992                 Mohamed Abdou El-Souad
488  1996                 Brahim Daoud Abdoulaye
489  2016                    Fawziya Abdoulkarim
490  1988                     Alaa El-Din Abdoun
491  1952                      Ibrahim Abdrabbou
492  2016                     Berik Abdrakhmanov
493  2016                   Maizurah Abdul Rahim
494  1980              Mehdi Fahim Abdul Al-Sada
495  2000             Bashir Abdullah Abdul Aziz
496  1996               Chairil Anwar Abdul Aziz
497  2000               Chairil Anwar Abdul Aziz
498  2000                     Shaimaa Abdul Aziz

[374 rows x 2 columns]

In [51]:
list_of_participants_ids = []
list_of_games_ids = []
list_of_participants = list(res['Name'].values)

for man in list_of_participants:
    list_of_games_of_participant = list(gp[gp['Name'] == man]['Game'].values)
    for game in list_of_games_of_participant:
        list_of_participants_ids.append(res[res['Name'] == man].index[0])
        list_of_games_ids.append(res_games[res_games['Year'] == game].index[0])


game_participant_relation_table = pd.DataFrame({
    'ParticipantID': list_of_participants_ids,
    'GameID': list_of_games_ids
})
game_participant_relation_table = game_participant_relation_table.sort_values(by='GameID')
game_participant_relation_table = game_participant_relation_table.drop_duplicates()
game_participant_relation_table

     GameID  ParticipantID
0         0              0
246       0            180
256       0            189
269       0            198
136       0             98
290       0            212
116       0             82
27        0             19
163       0            114
101       0             70
330       0            246
225       0            162
48        0             32
338       0            251
9         0              6
341       0            252
7         0              5
150       0            106
5         0              4
77        0             49
362       0            265
155       0            107
62        0             42
93        0             63
222       0            160
143       1            104
105       1             72
107       1             73
97        1             66
50        1             33
..      ...            ...
242      27            177
142      27            103
65       29             44
66       29             45
279      29            205
46       29             30
137      29             99
141      29            102
343      29            253
58       31             39
69       31             45
87       31             58
84       31             55
342      34            253
73       34             46
140      34            101
197      34            141
264      35            194
298      35            220
80       35             51
118      35             84
134      35             96
355      35            259
252      35            185
156      35            108
272      35            200
202      35            144
200      38            144
170      38            120
193      40            138

[374 rows x 2 columns]